.feedbacks {
    padding-bottom: 71px;
    &__wrapper {
        margin-top: 70px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__item {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        margin-bottom: 102px;
    }
    &__icon {
        margin-right: 62px;
    }
    &__title {
        margin-bottom: 10px;
        color: #0d0d0d;
        font-size: 18px;
        font-weight: 700;
    }
    &__subtitle {
        margin-bottom: 19px;
        color: #646464;
        font-size: 14px;
        font-weight: 300;
    }
    &__coment {
        max-width: 659px;
        color: #0d0d0d;
        font-size: 16px;
        font-weight: 300;
    }
}